.core {
  padding: 85px 0 40px;
  background-image: url("/dist/images/core-bg.svg");
  background-repeat: no-repeat repeat;
  background-size: cover;
  height: calc(100vh - #{$navbarHeight} - #{$menuHeight});

  &-head {
    text-align: center;
    .core-sub-title {
      color: $primary;
      font-size: 18px;
    }

    .core-title {
      font-size: 37px;
      font-weight: bold;
      margin-bottom: 55px;
    }
  }

  &-values {
    background-color: $light;
    &-item {
      padding: 60px 40px;
      transition: 300ms linear;

      &:hover {
        background-color: $primary;
        .core-values-number,
        .core-values-title,
        .core-values-description {
          color: $light;
        }

        .core-values-number {
          -webkit-text-fill-color: inherit;
          -webkit-text-stroke-width: inherit;
        }
      }

      .core-values-number {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        font-size: 48px;
        font-family: "UTMBanqueBold";
        color: $primary;
        letter-spacing: 3px;

        transition: all 300ms linear;
      }

      .core-values-title {
        font-size: 20px;

        transition: all 300ms linear;
      }

      .core-values-description {
        font-size: 16px;

        transition: all 300ms linear;
      }

      &:nth-child(1) {
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba($color: $primary, $alpha: 0.2);
      }
      &:nth-child(2) {
        border-width: 0 2px 2px;
        border-style: solid;
        border-color: rgba($color: $primary, $alpha: 0.2);
      }
      &:nth-child(3) {
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba($color: $primary, $alpha: 0.2);
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-width: 0 2px 0 0;
        border-style: solid;
        border-color: rgba($color: $primary, $alpha: 0.2);
      }
    }
  }
}
