.news {
  background-image: url("/dist/images/home-news-bg.jpg");
  background-repeat: repeat repeat;
  background-size: 100%;
  padding: 70px;

  &-main{
    display: flex;
    & .col1{
      flex: 1;
      padding: 1%;
    }
    & .col2{
      flex: 1;
      padding: 1%;
    }
  }
  @media only screen and (max-width: 768px){
    &-main{
      flex-direction: column;
    }
  }

  &-head {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &-title {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 42px;
      margin: 0;

      &::after {
        content: "";
        bottom: 9px;
        right: -100px;
        height: 2px;
        background-color: $primary;
        width: 70px;
        position: absolute;
      }
    }

    .news-head-pop {
      margin-left: 130px;
      .news-head-subtitle {
        display: inline-block;
        text-decoration: none;
        color: $dark;
        font-size: 24px;
        margin-right: 30px;
      }
    }
  }

  &-active {
    color: $primary !important;
    font-weight: bold;
  }
}
@media only screen and (max-width: 768px){
  .news{
    padding: 0;
  }
}
