.recruit {
  position: relative;
  background-image: url("/dist/images/core-bg.svg");
  background-repeat: repeat;
  background-size: 200%;
  padding: 100px 130px;
  max-width: 976px;
  margin: 0 auto;
  height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
  &-head {
    text-align: center;
    .recruit-sub-title {
      color: $primary;
      font-size: 18px;
      text-transform: uppercase;
    }

    .recruit-title {
      font-size: 37px;
      font-weight: bold;
      margin-bottom: 55px;
      text-transform: uppercase;
    }

    .recruit-description {
      word-spacing: 4px;
      margin-bottom: 40px;
    }
  }

  &-main {
    position: relative;
    .recruit-image-left,
    .recruit-image-right {
      position: absolute;
      top: 15%;
      left: -60%;

      img {
        max-width: 350px;
        height: 250px;
        object-fit: cover;
      }
    }

    .recruit-image-right {
      right: -60% !important;
      left: inherit;
    }
  }

  /* Custom swiper */

  .swiper-container {
  }
  .swiper-pagination-bullets {
    // position: absolute;
    // bottom: -20px!important; // override css old
    // left: 50%;
    // z-index: 100;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px; 
    color: #000;
    opacity: 1;
    background: white;
    border-radius: 0;
    height: 10px;
    padding: 1.5px 30px !important;
    border-radius: 15px;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #bf9372;
  }
}
