.sliders {
  width: 100%;
  // height: 890px;
  height: calc(100vh - 92px);
  overflow: hidden;
  position: relative;

  &-content {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 25px 140px 25px 100px;
    z-index: 10;
    background-color: rgba($color: $primary, $alpha: 0.8);
    border-radius: 0 15px 15px 0;

    .sliders-title {
      z-index: 10;
      margin: 0 0 10px 0;
      font-size: 24px;
      color: $light;
      font-weight: 500;
    }

    .sliders-sub-title {
      margin: 0;
      font-size: 28px;
      color: $light;
    }

    .sliders-description {
      color: $light;
      font-size: 18px;
    }
  }

  &-content.sliders-overlay {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    padding: 0 !important;
    background-color: transparent !important;

    .sliders-title {
      z-index: 10;
      margin: 0 !important;
      font-size: 50px !important;
      color: $light;
      font-weight: bold !important;
      letter-spacing: 3px!important;
    }

    .sliders-sub-title {
      margin: 0;
      font-size: 40px !important;
      color: $light;
    }

    .sliders-description {
      color: $light;
      font-size: 24px !important;
    }
  }

  .sliders-images {
    width: 100%;
    height: 890px;
    z-index: 0;

    .sliders-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #252531, $alpha: 1);
    }

    img {
      opacity: 0.1;
      z-index: 0;
    }
  }

  .sliders-dots {
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);

    .sliders-dot {
      display: inline-block;
      margin: 0 5px;
      padding: 2px 30px;
      background-color: $light;
      cursor: pointer;
    }

    .sliders-dot-active {
      background: $primary;
      padding: 4px 30px;
    }
  }

  .sliders-active {
    opacity: 1 !important;
    visibility: visible;
    animation: smoothShowOriginal 500ms linear;

    .sliders-title {
      animation: textAnimate 300ms linear;
    }

    .sliders-sub-title {
      animation: textAnimate 450ms linear;
    }

    .sliders-description {
      animation: textAnimate 650ms linear;
    }
  }

  .sliders-overlay {
    .sliders-active {
      opacity: 0.3 !important;
      visibility: visible;
      animation: smoothShow 500ms linear;
    }

    .sliders-title {
      animation: textAnimate 300ms linear;
    }

    .sliders-sub-title {
      animation: textAnimate 450ms linear;
    }

    .sliders-description {
      animation: textAnimate 650ms linear;
    }
  }

  .sliders-hidden {
    visibility: hidden;
    display: none;
  }
}

// for .sliders-overlay
@keyframes smoothShow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes textAnimate {
  from {
    transform: translate(0, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// for slider normal
@keyframes smoothShowOriginal {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
