.introduction{
    & .banner{
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        background-image: url('/dist/images/introduction-banner.jpg');
        background-position: center;
    }
    & .section2{
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        padding: 8% 12%;
        background-image: url('/dist/images/introduction-section2-bg.svg');
        background-position: center;
        & > .col1{
            position: relative;
            flex: .5;
            height: 100%;
            background-image: url("/dist/images/introduction-director.jpg");
            background-position: center;
            background-size: cover;
        }
        & > .col2{
            flex: 1;
            padding-left: 8%;
            & > h2{
                color: $primary;
            }
        }
    }
    & .section3{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        & > .row1{
            position: relative;
            display: flex;
            flex: 1;
            & > .col1{
                flex: 0 0 50%;
                background-image: url('/dist/images/introduction-section3-1.jpg');
                background-position: center;
                background-size: cover;
            }
            & > .col2{
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
                justify-content: center;
                padding: 8%;
                & > h1::after{
                    content: "";
                    display: block;
                    background: $primary;
                    height: 4px;
                    width: 4%;
                    position: absolute;
                }
            }
        }
        & > .row2{
            position: relative;
            display: flex;
            flex: 1;
            & > .col1{
                display: flex;
                flex-direction: column;
                flex: 1;
                align-items: center;
                justify-content: center;
                & > h1::after{
                    content: "";
                    display: block;
                    background: $primary;
                    height: 4px;
                    width: 4%;
                    position: absolute;
                }
            }
            & > .col2{
                flex: 0 0 50%;
                background-image: url('/dist/images/introduction-section3-2.jpg');
                background-position: center;
                background-size: cover;
            }
        }
    }
    & > .section5{
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        & > .col:nth-child(1){
            flex: 1;
            height: 100%;
            background-image: url('/dist/images/introduction-section5-1.jpg');
            background-position: center;
            background-size: cover;
        }
        & > .col:nth-child(2){
            flex: 1;
            background-image: url('/dist/images/introduction-section5-2.jpg');
            background-position: center;
            background-size: cover;
        }
        & > .col:nth-child(3){
            flex: 1;
            background-image: url('/dist/images/introduction-section5-3.jpg');
            background-position: center;
            background-size: cover;
        }
        & > .col:nth-child(4){
            flex: 1;
            background-image: url('/dist/images/introduction-section5-1.jpg');
            background-position: center;
            background-size: cover;
        }
        & > .col:nth-child(5){
            flex: 1;
            background-image: url('/dist/images/introduction-section5-5.jpg');
            background-position: center;
            background-size: cover;
        }
        & > .col:nth-child(6){
            flex: 1;
            background-image: url('/dist/images/introduction-section5-6.jpg');
            background-position: center;
            background-size: cover;
        }
    }
    & > .section6{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        background-image: url('/dist/images/core-bg.svg');
        & > .row1{
            display: flex;
            flex: 0 0 30%;
            align-items: center;
            & > h1{
                width: 100%;
                text-align: center;
            }
        }
        & .tag{
            position: relative;
            display: flex;
            flex: .4;
            height: 100%;
            background-color: white;
            margin: 0 .5%;
            & > div:nth-child(1){
                width: 40%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
            & > div:nth-child(2){
                display: flex;
                flex: 1;
                flex-direction: column;
                text-align: center;
                align-items: center;
            }
        }
        & > .row2{
            position: relative;
            display: flex;
            flex: 1;
            justify-content: center;
            & .tag:nth-child(1){
                & > div:nth-child(1){
                    background-image: url('/dist/images/introduction-section6-1.png');
                }
            }
        }
        & > .row3{
            position: relative;
            display: flex;
            flex: 1;
            justify-content: center;
            padding: 1%;
            & .tag:nth-child(1){
                & > div:nth-child(1){
                    background-image: url('/dist/images/introduction-section6-2.jpg');
                }
            }
            & .tag:nth-child(2){
                & > div:nth-child(1){
                    background-image: url('/dist/images/introduction-section6-3.jpg');
                }
            }
        }
    }
}