.recruit-page {
  .introduce {
    position: relative;
    .introduce-box {
      background-color: #252531;
      overflow: hidden;
      img {
        width: 100%;
        height: calc(100vh - 92px);
        object-fit: cover;
        opacity: 0.6;
        transform: scale(1.01);
      }
    }

    .introduce-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .introduce-subtitle,
      .introduce-title {
        text-align: center;
        color: $light;
        text-transform: uppercase;
        display: block;
      }

      .introduce-subtitle {
        font-size: 18px;
      }
      .introduce-title {
        font-size: 42px;
        letter-spacing: 1px;
      }
    }
  }

  .recruit-process {
    position: relative;
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: rgb(37, 37, 49);
    background-image: url("/dist/images/recruitment-section1-1.png"); /* fallback */
    background-image: linear-gradient(
        90deg,
        rgba(37, 37, 49, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/dist/images/recruitment-section1-1.png"); /* W3C */

    .recruit-process-content {
      position: relative;
      max-width: 616px;
      margin: (1920px - 1440px)/2;
      color: $light;

      .recruit-process-title {
        position: relative;
        color: $primary;
        text-transform: uppercase;
        font-size: 42px;
        margin: 0 0 40px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: -18px;
          left: 0;
          width: 80px;
          height: 2px;
          background-color: $light;
        }
      }

      .recruit-process-texts {
        font-weight: 500;
        max-width: 616px;
      }

      .recruit-process-steps {
        margin-top: 30px;

        .btn {
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .process-steps-data {
          visibility: hidden;
          opacity: 0;
          transform: translate(-100%, 0);
          transition: all 200ms linear;
          position: absolute;
          top: -55px;
          left: 0;
          background-color: $light;
          width: 820px;
          height: 630px;
          border-radius: 10px;

          .x {
            position: absolute;
            top: 0;
            right: 0;
            div {
              width: 30px;
              height: 4px;
            }
          }

          .data-steps {
            background-color: $primary;
            border: 0;
            color: $light;
            margin-left: -30px;
            margin-top: 20px;
          }

          .data-steps-content {
            color: $dark;
            margin-top: -30px;
            padding: 0 130px;
          }
        }

        &-active {
          visibility: visible !important;
          opacity: 1 !important;
          transform: translate(0, 0) !important;
        }
      }
    }
  }

  .recruit-term {
    position: relative;
    height: calc(100vh - 92px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #252531;
    background-image: url(/dist/images/recruitment-section1-1.png);
    background-image: linear-gradient(
        90deg,
        #252531 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(/dist/images/recruitment-section1-1.png);

    .recruit-term-content {
      position: relative;
      max-width: 616px;
      margin: (1920px - 1440px)/2;
      color: $light;

      .recruit-term-title {
        position: relative;
        color: $primary;
        text-transform: uppercase;
        font-size: 42px;
        margin: 0 0 40px 0;

        &::after {
          content: "";
          position: absolute;
          bottom: -18px;
          left: 0;
          width: 80px;
          height: 2px;
          background-color: $light;
        }
      }

      .recruit-term-texts {
        font-weight: 500;
        max-width: 616px;

        ul {
            list-style-type: square;
        }
      }
    }
  }
}
