.recruitment{
    & .section4{
        position: relative;
        width: 100%;
        background-image: url('/dist/images/core-bg.svg');
        background-position: center;
        background-size: cover;
        padding: 4% 12%;
        & > .header{
            position: relative;
            width: 100%;
            text-align: center;
            color: $primary;
            font-size: 56px;
            &::after{
                content:"";
                position: absolute;
                bottom: -30%;
                left: 50%;
                transform: translateX(-50%);
                height: 4px;
                width: 86px;
                background-color: $primary;
            }
        }
        & > table{
            width: 100%;
            outline: 1px solid #eeeeee;
            border-collapse:separate; 
            border-spacing: 0px 8px;
            & .dark-blue{
                background-color: $darkBlue;
                color: white;
                & .border{
                    background-color: $primary;
                }
            }
            & .primary{
                background-color: $primary;
                color: white;
                & .border{
                    background-color: white;
                }
            }
            & .border{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                background-color: black;
                height: 70%;
            }
            & th{
                position: relative;
                text-align: left;
                padding-left: 32px;
            }
            & td{
                position: relative;
                padding-left: 32px;
                padding-top: 4px;
            }
            & tr{
                cursor: pointer;
                outline: 1px solid #eeeeee;
                height: 40px;
                & td:nth-child(1){
                    width: 77px;
                }
            }
            & .dropdown{
                &::before{
                    content: "";
                    position: absolute;
                    left: 8px;
                    top: 50%;
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg) translateY(-50%);
                    -webkit-transform: rotate(-45deg) translateY(-50%);
                }
            }
            & .dropdown-active{
                &::before{
                    transform: rotate(45deg) translateY(-90%);
                    -webkit-transform: rotate(45deg) translateY(-90%);
                }
            }
            & .details{
                cursor: auto;
                display: none;
                & div{
                    height: 0px;
                    overflow: hidden;
                    transition-duration: .5s;
                }
            }
            & .details-active{
                display: inline;
                outline: none;
                & div{
                    width: 77px;
                    height: auto;
                    white-space: nowrap;
                    overflow: visible;
                }
            }
        }
    }
    & .section5{
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - #{$navbarHeight} - #{$menuHeight});
        background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,37,49,1) 0%, rgba(255,255,255,0) 100%),
        url('/dist/images/recruitment-section5-1.jpg');
        background-position: center;
        background-size: cover;
        color: white;
        padding: 0 12%;
        & .header{
            position: relative;
            width: 100%;
            text-align: left;
            color: $primary;
            font-size: 42px;
            &::after{
                content:"";
                position: absolute;
                bottom: -30%;
                left: 0;
                height: 4px;
                width: 86px;
                background-color: $primary;
            }
        }
        & .recruitment-contact{
            color: #7c7c7c;
        }
        & > .col{
            display: flex;
            flex-direction: column;
            position: relative;
            flex: .5;
            & > .row1{
                display: flex;
                flex-direction: column;
                flex: .25;
                padding: 8% 0;
            }
            & > .row2{
                display: flex;
                flex-direction: column;
                flex: .75;
                padding: 8% 0;
            }
        }
        & .form{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #bf9372;
            & .border{
                border: 1px solid white;
            }
            & .control{
                position: relative;
                display: flex;
                width: 90%;
                height: 40px;
                margin: 12px auto;
                border-radius: 8px;
                & input, button, select{
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    height: 100%;
                    background-color: white;
                }
                & input, select{
                    flex: 1;
                    padding: 0 16px;
                }
            }
        }
    }
}