html, body { 
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: auto;
    overflow-x: hidden;
}

// Base
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../../dist/font/utm-banque/utm-banque.css";
@import "./bases/variables";
@import "./bases/reset";
@import "./helpers/mixin";
@import "./bases/bootstrap";

// components
@import "./components/overlay";
@import "./components/btn";
@import "./components/link";
@import "./components/core";
@import "./components/card-project";
@import "./components/form-control";
@import "./components/text-underline";
@import "./components/news-block";
@import "./components/news-inline";
@import "./components/sliders";
@import "./components/project-popular";
@import "./components/contact-form";
@import "./components/news-related";
@import "./components/news";
@import "./components/x";
@import "./components/flag";
@import "./components/recruit";

// layouts
@import "./layouts/menu";
@import "./layouts/menu-sub";
@import "./layouts/footer";
@import "./layouts/footer-container";

// pages
@import "./pages/home";
@import "./pages/news-detail";
@import "./pages/contact";
@import "./pages/introduction";
@import "./pages/project-page";
@import "./pages/project-detail";
@import "./pages/recruit-page";
